@charset "utf-8"

// Import a Google Font
@import url("https://fonts.googleapis.com/css2?family=Recursive:wght,CRSV@300..800,0&display=swap");

// Update Bulma's global variables
$family-sans-serif: "Recursive", sans-serif;
$footer-padding: 1.0rem 2.5rem;

html
    scroll-behavior: smooth;

body
    display: flex;
    flex-direction: column;
    min-height: 100vh;


section
    flex: 1;

@import "base/all"
@import "components/all"
@import "elements/all"
@import "grid/all"
@import "helpers/all"
@import "layout/all"
@import "utilities/all"
